# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# VSCode
.vscode/

# PyCharm
.idea/

# Test / coverage output
.coverage
htmlcov/
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/

# OS files
Thumbs.db
.DS_Store